
<section class="section projects-section">

    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>塔读文学主站（<a target="_blank" href="http://www.tadu.com">http://www.tadu.com</a>）</p>
        <p>塔读文学移动站（<a target="_blank" href="http://m.tadu.com">http://m.tadu.com</a>）</p>
        <p>技术栈: </p>
        <p>
          管理工具: NodeJS + Gulp <br/>
          移动站: RequireJS, BackboneJS <br/>
          PC站: RequireJS, Bootstrap <br/>
        </p>
        <p></p>
        <p></p>
    </div>
  <!--
    <div class="item">
        <span class="project-title"><a href="#hook">Velocity</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>
    </div>
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">DevStudio</a></span> -
        <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
    </div>
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Tempo</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
    </div>
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
    </div>
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
    </div>
  //items-->
</section>

<!--//section-->
